doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Nighwatch.js Testing Summary
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    script(type="text/javascript", src="https://www.google.com/jsapi")
    script(type="text/javascript").
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawSummaryChart);
      function drawSummaryChart() {
        var data = google.visualization.arrayToDataTable([
          ['Result', 'Number of Tests'],
          ['Success', #{numTests - numFailures - numErrors}],
          ['Failure', #{numFailures}],
          ['Error',  #{numErrors}]
        ]);
        var options = {
          'chartArea': {'width': '90%', 'height': '90%'},
          'legend': 'none',
          colors: ['#d6e9c6', '#ebccd1', '#faebcc']
        };
        var chart = new google.visualization.PieChart(document.getElementById('summaryPieChart'));
        chart.draw(data, options);
      }

  body
    div.jumbotron
      div.container
        h1 Nightwatch.js Testing Summary
        p 
            | This report summarizes a series of automated Nightwatch.js test suites.  This report was generated  
            span= summaryReportGenDateTime
            | .

    div.container
      div.row(style="text-align: center;")
        div#summaryPieChart(style="width: 250px; height: 250px; display: inline-block; margin-left: auto; margin-right: auto;")

    div.container
      div.row
        div.col-md-4
          h2 Test Suites
          p 
            | A total of 
            span= numTests
            |  test suites were executed.
        div.col-md-4
          h2 Failures
          p
            span= numFailures
            |  of those test suites failed.
        div.col-md-4
          h2 Errors
          p
            span= numErrors
            |  of those test suites had errors. 

    div.container(style="margin-top: 20px;")
        div.page-header
            h1 Test Suites
        - each suite in suites
            div(class=(suite.numErrors < 1 && suite.numFailures < 1 && suite.numSkipped < 1) ? "panel panel-success" : "panel panel-danger")
                div.panel-heading
                    h3.panel-title= suite.name
                div.panel-body
                    div.row
                        div.col-md-4(style="font-weight: bold;") Test Suite Report File
                        div.col-md-8= suite.file
                    div.row
                        div.col-md-4(style="font-weight: bold;") Test Cases
                        div.col-md-8= suite.numTests
                    div.row
                        div.col-md-4(style="font-weight: bold;") Test Cases with Failures 
                        div.col-md-8= suite.numFailures
                    div.row
                        div.col-md-4(style="font-weight: bold;") Test Cases with Errors 
                        div.col-md-8= suite.numErrors
                    div.row
                        div.col-md-4(style="font-weight: bold;") Test Cases Skipped 
                        div.col-md-8= suite.numSkipped
                    div.row
                        div.col-md-4(style="font-weight: bold;") Run Time
                        div.col-md-8
                            span= suite.executionTime
                            | s
                    div.row
                        div.col-md-4(style="font-weight: bold;") Timestamp
                        div.col-md-8= suite.timestamp
                    h3 Test Cases
                    - each testcase in suite.cases
                        div(class=(testcase.numFailures < 1 && testcase.numSkipped < 1) ? "panel panel-success" : "panel panel-danger")
                            div.panel-heading
                                h3.panel-title= testcase.name
                            div.panel-body
                                div.row
                                    div.col-md-4(style="font-weight: bold;") Assertions
                                    div.col-md-8= testcase.numAssertions
                                div.row
                                    div.col-md-4(style="font-weight: bold;") Assertions Failed
                                    div.col-md-8= testcase.numFailures
                                div.row
                                    div.col-md-4(style="font-weight: bold;") Assertions Skipped
                                    div.col-md-8= testcase.numSkipped
                                div.row
                                    div.col-md-4(style="font-weight: bold;") Run Time
                                    div.col-md-8
                                        span= testcase.executionTime
                                        | s
                                - if (testcase.failures.length > 0)
                                    h4 Failed Assertions
                                    - each failure in testcase.failures
                                        div.panel.panel-danger
                                            div.panel-heading
                                                h3.panel-title Failed Assertion
                                            div.panel-body
                                                -if (failure.message && failure.message.message && failure.message.message.length > 0)
                                                    div.well.well-lg= failure.message.message
                                                -else
                                                    div.well.well-lg No failure message was provided.
                                                -if (failure.details && failure.details.length > 0)
                                                    pre.pre-scrollable= failure.details

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")